h1{
    background-color: black;
    color: white;
    text-align: left;
    text-decoration: solid;
    font-style: normal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1 span{
    color: cyan;
}
h2{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    text-decoration:none;
    font-style: italic;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h3{
    background-color: cadetblue;
    color: purple;
    text-align: right;
    text-decoration: solid;
    font-style: normal;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}